<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="roundico" (click)="dismiss()" slot="start">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Car Wash Services</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-buttons>
        <ion-button class="roundico modalpop" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>


    <section class="agree-cont">
        <div class="servimg"><img src="assets/img/car-wash.png" alt="car wash"></div>
        <ion-text>
            <h5 class="agrtitletxt">If you are looking out for car wash services, and cannot visit a workshop because of time constraints, we can help you. </h5>
            <h5 class="agrtitletxt"> We provide onsite car wash services that are accomplished using environment-friendly car wash solutions along with top-quality fiber towels that give your car the long-lasting shine that your car deserves.

            </h5>
        </ion-text>
        <ul>
            <li>Onsite car wash services</li>
            <li>Thorough car cleaning and sterilization</li>
            <li>High quality wax and fiber towels</li>
            <li>High quality wax and fiber towels </li>
            <li>Prompt service </li>
        </ul>


        <div class="seclargebtn">
            <!-- <buttons> -->
            <ion-button (click)="confirm()" size="large" color="secondary" expand="block">Confirm Car Wash
            </ion-button>
            <!-- </buttons> -->
        </div>
    </section>
</ion-content>