<ion-header class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="">
      Order Tracking
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToBack()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="!loaded" class="loader">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div> -->
  <div class="main_content_div" *ngIf="loaded === true">
    <div class="shadow_card driver_detail">
      <div style="display: flex;">
        <div class="user_image" [ngStyle]="{'background-image':'url('+ getDriverCover()+'),url(assets/delivery.png)'}">
        </div>
        <div>
          <ion-label class="name_lbl"> {{driverName}} </ion-label>
          <ion-label class="time_lbl"> {{driverMobile}} </ion-label>
        </div>
      </div>
      <ion-button (click)="driverCall()">
        <ion-icon name="call"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="upper_div">
    <div #map id="map" class="map"></div>
  </div>
</ion-content>
