<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="roundico" (click)="dismiss()" slot="start">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title slot="center">Tyre Change Service</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-buttons>
        <ion-button class="roundico modalpop" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>

    <section class="agree-cont">
        <div class="servimg"><img src="assets/img/tire-change.png" alt="tire change"></div>
        <ion-text>
            <h5 class="agrtitletxt">Tires are the legs of a vehicle. You shouldn't delay tire repair and replacement.</h5>
            <h5 class="agrtitletxt">We keep a fresh stock of car tyres from reputed manufacturers and provide onsite replacement services to give you a hassle-free tyre change experience.</h5>
        </ion-text>
        <ul>
            <li>Onsite tyre replacement</li>
            <li>All-inclusive prices (product, delivery and installation)</li>
            <li>All-inclusive prices (product, delivery and installation).</li>
            <li>100 percent original tyres with warranty </li>
            <li>Skilled tyre replacement staff</li>
            <li>Excellent after-service support</li>
            <li>Customized vehicle equipped with high tech machinery</li>
        </ul>


        <div class="seclargebtn">
            <!-- <buttons> -->
            <ion-button (click)="confirm()" size="large" color="secondary" expand="block">Confirm Tire Change
            </ion-button>
            <!-- </buttons> -->
        </div>
    </section>
</ion-content>