<!-- <ion-header>
    <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/services"></ion-back-button>
        </ion-buttons>
        <ion-title class="htitle">Terms & Conditions</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border" collapse="fade" [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center applogo">
            <ion-img src="assets/img/logo/app-logo.svg" alt="BattMobile Logo"></ion-img>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon class="hide" slot="icon-only" ios="notifications-outline" md="notifications-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="agree-cont">

        <h2>Terms & Conditions</h2>

        <div class="agreeser-txt">
            <p>Wide range of services to choose from at your fingertips Privacy Policy A&F Auto Repair LLC built the BattMobile app as a Commercial app. This SERVICE is provided by A&F Auto Repair LLC and is intended for use as is. </p>
            <p> This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>

            <p> If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. </p>

            <p> The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>

            <p> The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at BattMobile unless otherwise defined in this Privacy Policy.</p>
        </div>
    </section>
    <section class="bottomline">
        <ion-img src="assets/img/login-roadmark.svg" alt="BattMobile Roadmarks"></ion-img>
    </section>
</ion-content>