<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="roundico" (click)="dismiss()" slot="start">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title slot="center">..</ion-title>
    </ion-toolbar>
</ion-header> -->

<div class="inner-content">
    <ion-buttons>
        <ion-button class="roundico modalpop" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>

    <section class="agree-cont">
        <section class="sucess">
            <div class="center">
                <h4>Please contact or call us for "Car Repair" and "Car Recovery" Services</h4>
            </div>
        </section>
        <div>
            <ion-button (click)="dismiss()" class="loginbtn" size="large" color="secondary" expand="block">Contact Now
            </ion-button>
        </div>
    </section>
</div>