<ion-header class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="roundico">
        <ion-back-button slot="icon-only" defaultHref="/services/customer-location"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-align-items-center">
      <div class="regsteps">
        <span>STEP 2/4</span>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="roundico" (click)="data.clearServiceData()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="addvehicle">
    <div *ngIf="isLoad">
      <div class="addvehicle-txt">
        <img src="assets/img/vehicle-list.png" alt="vehicle list icon">
        <p>Select Your Vehicle</p>
      </div>

      <div class="vehicle-card" *ngFor="let item of vehicles ; let i = index"
        (click)="selectedVehicle(item);setIndex(i)" [class.active]="selectedIndex === i">
      
        <div class="vehicle-det">
          <p class="vehrand">{{item.brand}}</p>
          <h4>{{item.modelTitle}}</h4>

          <p class="nmbplate">{{item.plate}}</p>
        </div>
        <div class="vehicimg">
          <img
            [src]="getUserVehicle(item.vehicleId).company.imageUrl != '' ? getUserVehicle(item.vehicleId).company.imageUrl : 'assets/img/carbrand-alt.png'"
            alt="Car Brand">
          <!-- <img
            [src]="getUserVehicle(item.vehicleId).imageUrl != '' ? getUserVehicle(item.vehicleId).imageUrl : 'assets/img/carbrand-alt.png'"
            alt="Car Brand"> -->
        </div>
      </div>
    </div>
  </section>

</ion-content>
<ion-footer class="vehicfoot">
  <div class="addnewveh" (click)="addNewVehicle()">
    <a><i class="fas fa-plus"></i> Add New Vehicle</a>
  </div>
  <div class="confirm-btn">
    <ion-button (click)="saveInqVehicle()" size="large" color="secondary" expand="block">Confirm Vehicle</ion-button>
  </div>
</ion-footer>

<!-- <ion-header class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="roundico">
        <ion-back-button slot="icon-only" defaultHref="/services/battery-services/customer-location"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-align-items-center">
      <div class="regsteps">
        <span>STEP 2/4</span>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="roundico">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="vehiclepage">
    <div class="mapoverlocation">
      <input *ngIf="inqAddress" type="text" class="input-with-icon" id="form-name" [value]="inqAddress.address">
    </div>
    <div class="vehiclepage-mapover"></div>

  </section>

  <section class="addvehicle">
    <div *ngIf="isLoad">
      <div class="addvehicle-txt">
        <img src="assets/img/vehicle-list.png" alt="vehicle list icon">
        <p>Select your Vehicle</p>
      </div>
      <div class="vehicle-card" *ngFor="let item of vehicles ; let i = index"
        (click)="selectedVehicle(item);setIndex(i)" [class.active]="selectedIndex === i">
        <div class="vehicle-det">
          <h4>{{getUserVehicle(item.vehicleId).title}}</h4>
          <p class="vehrand">{{item.brand}}</p>
          <p class="nmbplate">{{item.plate}}</p>
        </div>
        <div class="vehicimg">
          <img
            [src]="getUserVehicle(item.vehicleId).imageUrl != '' ? getUserVehicle(item.vehicleId).imageUrl : 'assets/img/carbrand-alt.png'"
            alt="Car Brand">
        </div>
      </div>
    </div>

    <div class="addnewveh" (click)="addNewVehicle()">
      <a><i class="fas fa-plus"></i> Add New Vehicle</a>
    </div>
    <div class="confirm-btn">
      <ion-button (click)="saveInqVehicle()"  size="large"  color="secondary" expand="block">Confirm Vehicle</ion-button>
    </div>
  </section>
</ion-content> -->