.headerpopup {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 40px;
}

ion-content {
    --color: var(--ion-color-light);
    // --background: url(/assets/img/nearest-location.jpg) 0 0/100% 100% no-repeat;
    --background: #003C57;
}

ion-item {
    --border-width: 1px;
    --border-color: #ffffff00;
    --background: #FFFFFF;
    --box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    --border-radius: 4px;
    --font-family: 'Source Sans Pro', sans-serif;
}

ion-list {
    background: none;
}

.box {
    margin-top: 10px;
}

.bottomline {
    margin-top: 30px;
    margin-right: -20px;
}