ion-toolbar {
    --background: #003C57;
    --ion-color-base: #003C57 !important;
    --color: var(--ion-color-light);
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-header {
    &.header-md:after {
        background: none;
    }
}

ion-content {
    --background: #003C57;
    --color: var(--ion-color-light);
}

ion-list,
.list-md {
    --background: #003C57;
    --color: var(--ion-color-light);
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-item {
    --background: #003C57;
    --color: var(--ion-color-light);
    // --padding-start:30px;
}

ion-item:hover {
    --background: rgb(239, 164, 31);
    --background: linear-gradient(90deg, rgba(239, 164, 31, 1) 0%, rgba(0, 60, 87, 1) 85%);
}

.ion-padding {
    --padding-start: var(--ion-padding, 8px);
    --padding-end: var(--ion-padding, 8px);
    --padding-top: var(--ion-padding, 8px);
    --padding-bottom: var(--ion-padding, 8px);
    padding-left: var(--ion-padding, 8px);
    padding-right: var(--ion-padding, 8px);
    padding-top: var(--ion-padding, 8px);
    padding-bottom: var(--ion-padding, 8px);
}

ion-icon {
    color: #ffffff;
    font-size: 20px;
}

.userprof {
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #003C57;
    text-align: center;
    background: #003C57;
}

.useravatar ion-icon {
    font-size: 64px;
}

ion-item .item-inner {
    border-bottom: 0px solid #555;
}