<ion-header>
    <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/services"></ion-back-button>
        </ion-buttons>
        <ion-title class="htitle">Battery Change</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <section class="agree-cont">
        <ion-text>
        <h5 class="agrtitletxt">Our qualified technician will test the battery before suggesting whether a jump start
            will do the job or a new battery is required</h5>
        </ion-text>
        <h3 class="agrtitle">Benefits</h3>
        <ul>
            <li>Consequat dui nunc ipsum aliquet sed dignissim.</li>
            <li>In tellus nec arcu habitasse.</li>
            <li>Amet ipsum bibendum vel eu purus.</li>
            <li>Eu vitae porta ligula elit. Quisque vel sed lacus at. </li>
        </ul>
        <h3 class="agrtitle">How it works</h3>

        <div class="agreeservices">
            <div class="agreeser-icon"><img src="assets/img/request-icon.svg" alt=""></div>
            <div class="agreeser-txt">
                <h4>Request Service</h4>
                <p>Eu vitae porta ligula elit. Quisque vel sed lacus at vitae, accumsan amet ullamcorper sem. </p>
            </div>
        </div>
        <div class="agreeservices">
            <div class="agreeser-icon"><img src="assets/img/onsite-icon.svg" alt=""></div>
            <div class="agreeser-txt">
                <h4>On-site diagnostic</h4>
                <p>Eu vitae porta ligula elit. Quisque vel sed lacus at vitae, accumsan amet ullamcorper sem. </p>
            </div>
        </div>
        <div class="agreeservices">
            <div class="agreeser-icon"><img src="assets/img/payment-icon.svg" alt=""></div>
            <div class="agreeser-txt">
                <h4>Payment charge</h4>
                <p>Eu vitae porta ligula elit. Quisque vel sed lacus at vitae, accumsan amet ullamcorper sem. </p>
            </div>
        </div>
        <div class="seclargebtn">
            <!-- <buttons> -->
            <ion-button (click)="confirmChange()" size="large" color="secondary" expand="block">Confirm Battery Change</ion-button>    
        <!-- </buttons> -->
        </div>
    </section>
</ion-content>