/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 36px;
}

h2 {
    font-family: 'Racing Sans One', cursive;
    font-size: 28px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

// Global CSS
ion-content {
    --background: #FFFFFF;
}

ion-toolbar {
    --background: linear-gradient(245.35deg, #336379 -28.33%, #003C57 84.14%);
    --color: var(--ion-color-light);
    --padding-start: 15px;
    --padding-end: 15px;
}

// ion-header {
//   &.header-md:after {
//     background: none;
//   }
// }
.formbox2 {
    padding: 35px 15px;
}

.formbox2 ion-item {
    --border-width: 1px;
    --border-color: #ffffff00;
    --background: #FFFFFF;
    --box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    --border-radius: 4px;
    --font-family: 'Source Sans Pro', sans-serif;
}

.formbox2 .ngx-dropdown-container .ngx-dropdown-button {
    width: 100%;
    min-height: 54px !important;
    padding: 5px 10px;
    border: 1px solid #ffffff !important;
    text-transform: capitalize;
    font-size: 16px;
}

.formbox2 .ngx-dropdown-container {
    width: 100%;
    position: relative;
    margin-bottom: 13px;
}

.formbox2 .ngx-dropdown-container .ngx-dropdown-list-container {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roundico {
    width: 36px !important;
    height: 36px !important;
    background: #ffffff;
    color: #000000;
    border-radius: 100%;
    // padding: 4px;
}

.roundico.md.button.button-clear.in-toolbar.button-has-icon-only {
    --padding-top: 8px !important;
    --padding-end: 8px !important;
    --padding-bottom: 8px !important;
    --padding-start: 8px !important;
}

.chooseserv {
    margin-top: 30px;
    text-align: center;
}

.radiosched {
    margin-bottom: 10px;
}

.radiosched ion-label {
    margin-left: 7px;
    font-size: 16px;
}

.choosedate {
    margin-top: 25px;
}

.htitle {
    font-size: 20px !important;
    font-weight: 600;
}

ion-item {
    --highlight-height: 0;
    --color: #222222;
}

.button-large {
    font-size: 16px;
}

.error {
    font-size: 12px;
    color: red;
    margin-left: 15px;
    margin-top: 2px;
}

.regsteps {
    background: rgba(13, 105, 147, 0.95);
    mix-blend-mode: normal;
    border-radius: 5px;
    display: inline-flex;
    padding: 7px 12px;
}

.regsteps span {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
}

// LOGIN SIGN UP PAGES
.alert-radio-label.sc-ion-alert-md {
    -webkit-padding-start: 36px;
    padding-inline-start: 36px;
    -webkit-padding-end: 26px;
    padding-inline-end: 26px;
}

.list-md-lines-full {
    .item {
        &.item-lines-none {
            --border-width: 0;
        }
    }
}

.loginlink {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #ffffff;
    margin-top: 15px;
    text-transform: none;
}

.loginbtn {
    margin-top: 10px;
    color: #ffffff;
}

.signuptxt {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #ffffff;
    margin-top: 25px !important;
    text-transform: none;
}

.eye-btn {
    vertical-align: middle;
    position: absolute;
    top: 14px;
    right: 6px;
    background-color: #fff;
    padding: 6px;
    z-index: 5;
    ion-icon {
        color: #7c7c7c;
        font-size: 18px;
    }
}

ion-button {
    border-width: 1px;
}

// CUSTOMER LOCATION
a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.locontainer {
    display: relative;
    height: 100%;
}

.locmapbox {
    width: 100%;
    background: #ffffff;
    height: 100%;
}

.locacation {
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
}

agm-map {
    height: 100%;
}

.customap-head {
    position: fixed;
    height: 100vh;
    width: 100%;
}

.customap-map {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: opacity 500ms ease-in-out;
    agm-map {
        height: 100% !important;
    }
}

.mapsearch {
    position: fixed;
    display: block;
    width: 100%;
    padding: 5px 15px;
    top: 105px;
}

.mapsearch input {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 120%;
    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
    height: 48px;
    min-height: 48px;
    font-size: 14px;
    color: #7D7987;
    width: 100%;
}

.location-info {
    margin: 25px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.90);
    z-index: 500;
    padding: 20px 15px;
    position: fixed;
    bottom: 0px;
    max-height: 75%;
    overflow-y: auto;
    width: 100%;
}

.nearinfo {
    padding: 10px 0px 0px 25px;
    font-size: 14px;
    color: #003C57;
    font-style: normal;
}

.locacation ion-icon {
    font-size: 20px;
    line-height: 120%;
    margin-right: 3px;
    width: 24px;
    min-width: 24px;
    color: #003C57;
}

.location-live {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 18px;
    color: #003C57;
    .location-live p {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #1D262C;
    }
    .location-live ion-icon {
        color: #7D7987;
    }
}

.custom-address {
    padding: 15px 0px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 18px;
    .custom-address a {
        font-weight: 400;
        font-size: 14px;
        // display: block;
        line-height: 120%;
        color: #003C57;
    }
    .custom-address ion-icon {
        color: #003C57;
    }
}

.nearlandmark {
    padding: 15px 0px;
    font-size: 14px;
    border-bottom: 1px solid #EAEAEA;
}

.landtitle {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .landtitle a {
        font-weight: 400;
        font-size: 14px;
        // display: block;
        line-height: 120%;
        color: #003C57;
    }
    .landtitle ion-icon {
        color: #003C57;
    }
}

// CUSTOMER VEHICLE
.vehiclepage-head {
    position: fixed;
    height: 100vh;
    width: 100%;
}

.vehiclepage-mapover {
    height: 100%;
    width: 100%;
    background: rgba(0, 59, 87, 0.75);
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: opacity 500ms ease-in-out;
}

.mapoverlocation {
    position: fixed;
    display: block;
    width: 100%;
    padding: 5px 15px;
    top: 75px;
    z-index: 5;
}

.mapoverlocation input {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 20px;
    line-height: 120%;
    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
    height: 48px;
    min-height: 48px;
    font-size: 14px;
    color: #7D7987;
    width: 100%;
}

// .addvehicle{
//   margin: 25px 0px 15px 0px;
//   background: rgba(255, 255, 255, 1);
//   z-index: 505;
//   padding: 20px 15px;
//   position: fixed;
//   bottom: 0px;
//   max-height: 75%;
//   overflow-y: auto;
//   width: 100%;
// }
// .addvehicle-txt{
//   display: flex;
//   align-items: center;
//   border-bottom: 1px solid #EAEAEA;
//   padding-bottom: 18px;
// }
// .addvehicle-txt p {
// font-weight: 600;
// font-size: 18px;
// line-height: 120%;
// color: #1D262C;
// padding-left: 10px;
// }
.addvehicle {
    margin: 0px;
    background: rgba(255, 255, 255, 1);
    padding: 20px 15px;
    width: 100%;
}

.addvehicle-txt {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 18px;
}

.addvehicle-txt p {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #1D262C;
    padding-left: 10px;
}

.vehicfoot {
    background: rgba(255, 255, 255, 1);
    z-index: 505;
    padding: 20px 15px;
    width: 100%;
}

.vehicle-card {
    background: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vehicle-card.active {
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.vehicle-det {
    font-family: Source Sans Pro;
    padding: 17px 14px;
}

.vehicle-det h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1E2022;
    text-transform: capitalize;
}

.vehicle-det .vehrand {
    font-size: 13px;
    line-height: 18px;
    color: #77838F;
    text-transform: capitalize;
}

.vehicle-det .nmbplate {
    font-size: 12px;
    line-height: 13px;
    color: #151522;
    text-transform: capitalize;
}

.vehicimg {
    width: 90px;
    max-width: 90px;
    height: 100%;
    max-height: 100%;
}

.vehicimg img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
    object-position: center right;
}

.addnewveh {
    padding: 15px 0px 15px 10px;
}

.addnewveh a {
    font-weight: 600;
    font-size: 16px;
    display: block;
    line-height: 120%;
    color: #003C57;
}

.addnewveh a i {
    font-weight: 400;
    color: #003C57;
    margin-right: 10px;
    font-size: 14px;
}

// BATTERY PAGE
// .recombatteriespage-head {
//   position: fixed;
//   height  : 100vh;
//   width   : 100%;
// }
.recombatteries-mapover {
    height: 100%;
    width: 100%;
    background: rgba(0, 59, 87, 1);
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: opacity 500ms ease-in-out;
}

.recombatteries {
    // position: fixed;
    // display : block;
    width: 100%;
    padding: 5px 15px;
    // top     : 75px;
    // z-index : 5;
}

.recombatteries input {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 20px;
    line-height: 120%;
    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
    height: 48px;
    min-height: 48px;
    font-size: 14px;
    color: #7D7987;
    width: 100%;
    margin-bottom: 10px;
}

.recombattlist {
    // margin    : 25px 0px 15px 0px;
    // background   : rgba(255, 255, 255, 1);
    // z-index   : 505;
    padding: 20px 15px;
    // position  : fixed;
    // bottom    : 0px;
    // max-height: 65%;
    // overflow-y: auto;
    width: 100%;
    color: #ffffff;
}

.recombattlist-txt {
    // border-bottom : 1px solid #EAEAEA;
    padding-bottom: 18px;
}

.recombattlist-txt p {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
}

.rectitle {
    padding: 12px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1D262C;
    background: #F4F4F4;
    border-radius: 8px;
    margin-top: 10px;
}

.battery-card {
    background: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    // box-shadow   : 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 15px 13px;
    margin: 12px 0px;
    position: relative;
}

.battery-card .cardinner {
    display: flex;
    align-items: center;
    justify-content: start;
}

.battery-card.active {
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    box-shadow: 0px 6px 16px #A6A6A6;
}

.battery-det {
    font-family: Source Sans Pro;
}

.battery-det h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1E2022;
    text-transform: uppercase;
}

.battery-det .batrand {
    font-size: 13px;
    line-height: 18px;
    color: #77838F;
    text-transform: capitalize;
}

.battery-det .batwarnt {
    font-size: 12px;
    line-height: 13px;
    color: #151522;
    text-transform: capitalize;
}

.batteryimg {
    width: 90px;
    max-width: 90px;
    height: 70px;
    max-height: 70px;
}

.batteryimg img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
    object-position: center center;
}

.recomlabel {
    display: flex;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -3px;
    background: #34C759;
    box-shadow: 0px 2px 7px rgba(52, 199, 89, 0.24);
    border-radius: 4px;
    padding: 5px;
    z-index: 1000;
}

.recomlabel p {
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
}

.recomlabel p ion-icon {
    margin-right: 3px;
}

.batbtns {
    padding: 20px 15px;
    background: #ffffff;
    z-index: 501;
}

.afterinput {
    background: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    padding: 12px 15px;
    // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A6A6A6;
}

.afterinput ion-icon {
    font-size: 24px;
    flex-shrink: 0;
}

.conftxt {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 5px;
    color: #1D262C;
    text-transform: capitalize;
}

.conftxt ion-icon {
    padding-right: 5px;
}

.conftxtdet .contitle {
    font-size: 14px;
    color: #1D262C;
    line-height: 125%;
    text-transform: capitalize;
}

.conftxtdet .platenumber {
    font-size: 12px;
    color: #7D7987;
    line-height: 125%;
}

// CONFIRM REQUEST PAGE
.vehiclepage-head {
    position: fixed;
    height: 100vh;
    width: 100%;
}

.confirmations-mapover {
    height: 100%;
    width: 100%;
    background: rgba(0, 59, 87, 1);
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: opacity 500ms ease-in-out;
}

.confirmations {
    // position: fixed;
    display: block;
    width: 100%;
    // padding : 5px 15px;
    // top     : 75px;
    z-index: 5;
}

.confirmations input {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 20px;
    line-height: 120%;
    border-color: #FFFFFF;
    border: 1px solid#FFFFFF;
    height: 48px;
    min-height: 48px;
    font-size: 14px;
    color: #7D7987;
    width: 100%;
    margin-bottom: 10px;
}

.confirmbnt {
    margin: 25px 0px 15px 0px;
    background: rgba(255, 255, 255, 1);
    z-index: 505;
    padding: 20px 15px;
    position: fixed;
    bottom: 0px;
    max-height: 65%;
    overflow-y: auto;
    width: 100%;
}


/* SUCESS */

.sucess {
    padding: 10px 24px;
}

.center h1 {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 11px 0px;
}

.center p {
    font-family: Source Sans Pro;
    font-weight: 00;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

.sucess img {
    display: block;
    margin: 30px auto;
    width: 100%;
}

.sub-btn {
    margin: 10px 16px;
}

// SERVICES PAGE
.services-head {
    position: relative;
    height: 40%;
    width: 100%;
    .services-img {
        height: auto;
        width: 100%;
        top: 0;
        position: fixed;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        transition: opacity 500ms ease-in-out;
    }
    h2 {
        color: #fff;
        font-size: 26px;
        padding-left: 15px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        align-self: end;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(18, 27, 33, 0.756765) 100%);
        width: 100%;
    }
    h2 span {
        color: #EFA41F;
        font-size: 26px;
        display: block;
    }
    .servtitle {
        position: relative;
        display: flex;
        height: 100%;
    }
}

.services-info {
    z-index: 500;
    position: relative;
    background: linear-gradient(305deg, rgba(255, 217, 150, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 75%, rgba(195, 237, 255, 1) 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    .service-icon {
        margin-right: 10px;
        width: 70px;
    }
    .service-tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        margin: 12px 16px;
        background: #FFFFFF;
        border: 1px solid rgba(228, 228, 228, 0.6);
        box-shadow: 0px 6px 16px rgba(50, 50, 71, 0.08), 0px 4px 24px rgba(50, 50, 71, 0.04);
        border-radius: 8px;
    }
    .service-desc {
        display: flex;
        align-items: center;
    }
    .service-content {
        font-family: Source Sans Pro;
        color: #1D262C;
    }
    .service-content h4 {
        margin-bottom: 2px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }
    .service-content p {
        line-height: 120%;
        font-weight: 400;
    }
}

//   AGREE SERVICES
.agree-cont {
    padding: 20px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    .agrtitletxt {
        padding: 5px 0px;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
    }
    .agrtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: #1D262C;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    ul li {
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        list-style-type: disc;
        margin-left: 25px;
        margin-bottom: 5px;
    }
    .agreeservices {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        color: #000000;
    }
    .agreeservices h4 {
        font-weight: 600;
        font-size: 17px;
        line-height: 130%;
    }
    .agreeservices p {
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
    }
    .agreeser-icon {
        width: 48px;
        padding-top: 5px;
    }
    .seclargebtn {
        margin-top: 15px;
    }
    .seclargebtn ion-button {
        font-size: 18px;
        border-radius: 10px;
        text-transform: capitalize;
        letter-spacing: normal;
    }
}

// ORDER  PAGE
.menupills {
    margin: 16px 15px;
}

.menupills a {
    background: #222222;
    border-radius: 50px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
}

.ordercard {
    background: #FFFFFF;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 19px 18px;
    margin: 18px 17px;
    color: #222222;
}

.ordercard .orderhead {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.orderdate {
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.orderhead h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
    padding-bottom: 15px;
}

.orderdetails {
    padding-bottom: 15px;
    padding-top: 15px;
}

.orderdetails p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    padding-bottom: 2px;
}

.orderdetails p span {
    font-weight: 700;
    color: #9B9B9B;
}

.ordertr {
    border-radius: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    display: inline-block;
    border: 1px solid #222222;
    text-align: center;
    padding: 6px 25px;
    margin-top: 8px;
}

.reject-status {
    color: #FF3A44 !important;
}

.active-status {
    color: #34C759 !important;
}

.pending-status {
    color: #EFA41F !important;
}

//  ORDER DETAILS PAGE
.main_content_div {
    padding: 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.90);
    ion-label {
        display: block;
    }
    .driver_detail {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user_image {
            height: 50px;
            width: 50px;
            min-width: 50px;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-right: 10px;
        }
        .name_lbl {
            font-family: "semi-bold";
            font-size: 16px;
        }
        .time_lbl {
            color: grey;
            font-size: 14px;
            font-family: "medium";
        }
        .full_btn {
            --border-radius: 10px;
            margin: 0;
        }
    }
}

.upper_div {
    height: 75vh;
    padding: 0px;
    #map {
        width: 100%;
        height: 100%;
    }
}

// .orderdetails-card {
//   margin: 10px 17px;
// }
// .order-card {
//   background   : #FFFFFF;
//   box-shadow   : 0px 1px 24px rgba(0, 0, 0, 0.12);
//   border-radius: 8px;
//   padding      : 19px 18px;
//   margin-top   : 20px;
// }
// .orderdetails-card .title {
//   font-family: Source Sans Pro;
//   font-weight: 600;
//   font-size  : 16px;
//   line-height: 16px;
//   color      : #222222;
//   padding    : 26px 16px 0px 0px;
// }
// .order-details h1 {
//   padding-bottom: 4px;
// }
// .card-details h1 {
//   font-family: Source Sans Pro;
//   font-weight: 600;
//   font-size  : 16px;
//   line-height: 22px;
//   color: #151522;
// }
// .card-details h2 {
//   font-family   : Source Sans Pro;
//   font-weight   : normal;
//   font-size     : 11px;
//   line-height   : 13px;
//   color         : #151522;
//   padding-top   : 7px;
//   padding-bottom: 4px;
// }
// .card-details h3 {
//   font-family: Source Sans Pro;
//   font-weight: normal;
//   font-size  : 11px;
//   line-height: 13px;
//   color      : #151522;
// }
.native-input.sc-ion-input-md {
    color: black;
}

.servimg {
    padding: 15px 30px;
    text-align: center;
}

.servimg img {
    height: 60px;
}

ion-modal {
    --width: 90% !important;
    --height: 90% !important;
    --border-radius: 15px !important;
}

.modalpop {
    position: absolute;
    top: 30px;
    right: 15px;
}

ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }
    --height: auto;
    .ion-page {
        position: relative;
        display: block;
        contain: content;
        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}

.popbtnyel {
    position: absolute;
    top: 10px;
    right: 12px;
}

.popbtnyel .roundico2 {
    width: 36px !important;
    height: 36px !important;
    background: #EFA41F;
    color: #ffffff;
    border-radius: 100%;
    // padding: 4px;
    cursor: pointer;
}

.popbtnyel .roundico2.md.button.button-clear.in-toolbar.button-has-icon-only {
    --padding-top: 8px !important;
    --padding-end: 8px !important;
    --padding-bottom: 8px !important;
    --padding-start: 8px !important;
}

.sc-ion-modal-md-h:first-of-type {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.85);
}

.deflocbtn {
    position: absolute;
    bottom: 100px;
    right: 10px;
    z-index: 5000;
    background: #ffffff;
    border-radius: 2px;
    padding: 9px 8px;
    font-size: 24px;
    line-height: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.deflocbtn ion-img {
    filter: invert(35%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.deflocbtn:hover ion-img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.locstitle {
    padding: 5px 12px;
    line-height: 15px;
    border-radius: 25px;
    margin-bottom: 5px;
}

ion-picker .picker-wrapper {
    --background: #f5f5f5;
    color: #6e6e71;
}

ion-picker .picker-opt {
    color: #6e6e71;
}

ion-picker .picker-opt.picker-opt-selected {
    color: #EFA41F;
    font-size: 18px;
    border: 1px solid #EFA41F;
}

ion-picker .picker-toolbar {
    height: 60px !important;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 8px !important;
    background: #ffffff !important;
}

ion-picker button.picker-button {
    background: #EFA41F !important;
    border-radius: 5px;
    font-size: 15px !important;
    margin-right: 15px !important;
    height: 38px !important;
    color: #fff !important;
}

.booking-card h3 {
    color: #003C57;
}

.gmnoprint[role="menubar"] {
    bottom: 0 !important;
    top: auto !important;
}

.gmnoprint[role="menubar"] button {
    font-size: 15px !important;
}

.gmnoprint[role="menubar"] button ul {
    visibility: hidden !important;
    display: none !important;
}

.alert-head {
    background: #003C57;
    color: #ffffff;
    padding-top: 13px !important;
    margin-bottom: 10px;
}

.alert-title {
    color: #ffffff !important;
    font-family: Source Sans Pro;
}

.alert-wrapper,
ion-select {
    --text-transform: capitalize !important;
}

.alert-button-group .alert-button {
    border: 1px solid #EFA41F;
    padding: 7px 18px;
}

button.alert-button {
    background: #EFA41F;
    color: #ffffff;
}

.modalpop {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 26px !important;
    background: #f5f5f5;
}

.agree-cont {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
    --padding-top: 6px;
    --padding-end: 6px;
    --padding-bottom: 6px;
    --padding-start: 6px;
}

.input-box select {
    display: block;
    border: 1px solid #7c7c7c;
    background: #ffffff;
    padding: 7px 8px;
}

.savedlive {
    display: flex;
    justify-content: flex-start;
}

.savedlive ion-icon {
    width: 18px;
    min-width: 18px;
}