<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="Badge">
    <param name="ios-package" value="APPBadge"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>

  <feature name="LocalNotification">
    <param name="ios-package" value="APPLocalNotification"/>
  </feature>

  <feature name="Textocr">
    <param name="ios-package" value="Textocr"/>
  </feature>

  <feature name="NativeGeocoder">
    <param name="ios-package" value="NativeGeocoder"/>
  </feature>

  <feature name="RequestLocationAccuracy">
    <param name="ios-package" value="RequestLocationAccuracy"/>
  </feature>

  <feature name="CDVOrientation">
    <param name="ios-package" value="CDVOrientation"/>
  </feature>

  <feature name="CordovaStripe">
    <param name="ios-package" value="CordovaStripe"/>
  </feature>

  <feature name="PushNotification">
    <param name="ios-package" value="PushPlugin"/>
  </feature>

  
</widget>